<section class="features-block" id="services">
   <div class="container">
      <div class="section-title text-center">
         <span class="badge badge-primary">Features</span>
         <h2>Best Services Ever</h2>
         <span class="section-title-line"></span>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f1.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Search Engine Optimization</h5>
               <p>Rank Your website to the top of the search result with organic.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f2.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Pay Per Click</h5>
               <p>Get instant visibility and traffic through paid campaign over search engines,social media and more.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f3.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Social Media Marketing</h5>
               <p>Generate more customers and brand advocates by building and engaging a community over Social media.</p>
            </div>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f4.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Web Development</h5>
               <p>Your website is the platform of digital presence. It’s one of the few places on the digitally or internet where you can share your brand message free of distortion or distraction.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f5.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Bulk SMS</h5>
               <p>Send Promotional/Transactional Bulk SMS at affordable Prices with Real Time Reports. Lifetime SMS Validity.</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f6.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Graphic Design</h5>
               <p>Graphic Design is communication design where art or skill of combine text and picture in advertisements, or digiatal advertisement. Graphic design is attracts of audience.
               .</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f7.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Email Marketing</h5>
               <p>Email marketing is the act of sending a commercial message, typically to a group of people.
               .</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f8.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Lead Generation</h5>
               <p>Lead generation is the process of attracting and converting strangers and prospects into someone who has indicated interest in your company's product and services. 
               .</p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="features-item text-center">
               <%= image_tag 'f6.png', class: "img-fluid mb-4", alt:"" %>
               <h5 class="mb-4">Paid Compaign</h5>
               <p> Paid campaign media refers to external marketing efforts that involve a paid placement. paid media includes PPC advertising, branded content, and display ads. pa media is an essential component of revenue growth and brand awareness for online  businesses.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="screens-block bg-danger" id="screens">
   <div class="screens-container-fluid">
      <div class="section-title text-center">
         <span class="badge badge-white text-white">Previews</span>
         <h2 class="text-white">Screenshot In Details</h2>
         <span class="section-title-line section-title-line line-white"></span>
      </div>
      <div class="screens-row text-center">
         <div class="screens owl-carousel owl-theme">
            <div class="item">
               <%= image_tag '1.png', class: 'img-responsive' %>
            </div>
            <div class="item">
               <%= image_tag '2.png', class: 'img-responsive' %>
            </div>
            <div class="item">
               <%= image_tag '3.png', class: 'img-responsive' %>
            </div>
            <div class="item">
               <%= image_tag '4.png', class: 'img-responsive' %>
            </div>
         </div>
      </section>
            <section class="pricing-block" id="pricing">
         <div class="container">
            <div class="section-title text-center">
               <span class="badge badge-success">Our Pricing</span>
               <h2>Our Pricing & Plans</h2>
               <span class="section-title-line"></span>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="pricing-item text-center">
                     <div class="custom-card card card-outline-primary h-100">
                        <div class="card-body bg-danger">
                           <h6 class="text-white">SEARCH ENGINE OPTIMIZATION</h6>
                           <div class="font-italic text-white">STARTING FROM</div>
                           <div class="display-4">RS.7999</div>
                           <div class="font-italic text-white">per month</div>
                        </div>
                        <ul class="list-group list-group-flush">
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> On-page SEO</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Off-page SEO</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Site Maping</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Link Building</li>
                           <li class="list-group-item">
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="pricing-item text-center">
                     <div class="custom-card card card-outline-primary h-100">
                        <div class="card-body bg-danger">
                           <h6 class="text-white">SOCIAL MEDIA</h6>
                           <div class="font-italic text-white">STARTING FROM</div>
                           <div class="display-4">RS.5999</div>
                           <div class="font-italic text-white">per month</div>
                        </div>
                        <ul class="list-group list-group-flush">
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Social Media Account</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Profile Design</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Free Graphics</li>
                           <li class="list-group-item"><i class="fas fa-check text-success"></i> Page-Content</li>
                           <li class="list-group-item">
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="pricing-item text-center">
                        <div class="custom-card card card-outline-primary h-100">
                           <div class="card-body bg-danger">
                              <h6 class="text-white">WEB DEVELOPMENT</h6>
                              <div class="font-italic text-white">STARTING FROM</div>
                              <div class="display-4">RS.11999</div>
                              <div class="font-italic text-white">per month</div>
                           </div>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Static and Dynamic</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Responsive Mobile Friendly</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>SEO Friendly</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>6 Months Free Maintenance</li>
                              <li class="list-group-item">
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4"><br>
                     <div class="pricing-item text-center">
                        <div class="custom-card card card-outline-primary h-100">
                           <div class="card-body bg-danger">
                              <h6 class="text-white">LEAD GENERATION</h6>
                              <div class="font-italic text-white">STARTING FROM</div>
                              <div class="display-4">RS.19999</div>
                              <div class="font-italic text-white">per month</div>
                           </div>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Espicially for Share Market</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Espicially for Real State</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>Coaching classes</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>College and Institute</li>
                              <li class="list-group-item">
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4"><br>
                     <div class="pricing-item text-center">
                        <div class="custom-card card card-outline-primary h-100">
                           <div class="card-body bg-danger">
                              <h6 class="text-white">EMAIL MARKETING</h6>
                              <div class="font-italic text-white">STARTING FROM</div>
                              <div class="display-4">RS.4999</div>
                              <div class="font-italic text-white">per month</div>
                           </div>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Customized Email</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> Template</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>Tracking and Reporting</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>Email Management</li>
                              <li class="list-group-item">
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4"><br>
                     <div class="pricing-item text-center">
                        <div class="custom-card card card-outline-primary h-100">
                           <div class="card-body bg-danger">
                              <h6 class="text-white">PAID COMPAIGN</h6>
                              <div class="font-italic text-white">STARTING FROM</div>
                              <div class="display-4">RS.19999</div>
                              <div class="font-italic text-white">per month</div>
                           </div>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> PPC Adds</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i> SMM Adds</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>Report</li>
                              <li class="list-group-item"><i class="fas fa-check text-success"></i>Lower Cost</li>
                              <li class="list-group-item">
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="team-block" id="clients">
            <div class="container">
               <div class="section-title text-center">
                  <span class="badge badge-danger">OUR EXPERTS</span>
                  <h2>Innovative Client</h2>
                  <span class="section-title-line"></span>
               </div>
               <div class="row"> 
                  <div class="col-md-4">
                     <div class="custom-card card team-item card h-100 text-center">
                        <%= image_tag 'team/1.png', class: 'card-img-top', alt: '' %>
                        <div class="card-body">
                           <h4 class="card-title">Client Member</h4>
                           <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer social-icons">
                           <a href="#"><i class="fab fa-facebook"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-google-plus"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="custom-card card team-item card h-100 text-center">
                        <%= image_tag 'team/2.png', class: 'card-img-top', alt: '' %>
                        <div class="card-body">
                           <h4 class="card-title">Team Member</h4>
                           <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer social-icons">
                           <a href="#"><i class="fab fa-facebook"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-google-plus"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="custom-card card team-item card h-100 text-center">
                        <%= image_tag 'team/3.png', class: 'card-img-top', alt: '' %>
                        <div class="card-body">
                           <h4 class="card-title">Team Member</h4>
                           <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                        </div>
                        <div class="card-footer social-icons">
                           <a href="#"><i class="fab fa-facebook"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-google-plus"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="blog-block" id="blog">
            <div class="container">
               <div class="section-title text-center">
                  <span class="badge badge-primary">BLOGS</span>
                  <h2>Blogs We Wrote For You</h2>
                  <span class="section-title-line"></span>
               </div>
               <div class="row">
                  <div class="blogs-slider owl-carousel owl-theme">
                     <div class="item">
                        <div class="card theme-card blog-card">
                           <a href="single.html">
                              <%= image_tag 'stories/1.png', class: "card-img-top", alt:'Card image cap'%></a>
                              <div class="card-body">
                                 <span class="badge badge-success">DESIGN</span>
                                 <h6><a class="text-gray underlining-none" href="single.html">System Security Testing</a></h6>
                                 <p>The purpose of analysis is to distill complexity into actionable insights only "insights" too often take the form of graphs</p>
                                 <div class="blog-author">
                                    <p><%= image_tag 'user/1.jpg', class: 'rounded-circle', alt: 'Card image cap'  %><strong>Rahul Yadav</strong> On October 03, 2017</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="card theme-card blog-card">
                              <a href="single.html"><%= image_tag 'stories/2.png', class: "card-img-top", alt:'Card image cap'%></a>
                              <div class="card-body">
                                 <span class="badge badge-primary">ANALYTICS</span>
                                 <h6><a class="text-gray underlining-none" href="single.html">System Security Testing</a></h6>
                                 <p>The purpose of analysis is to distill complexity into actionable insights only "insights" too often take the form of graphs</p>
                                 <div class="blog-author">
                                    <p><%= image_tag 'user/2.jpg', class: 'rounded-circle', alt: 'Card image cap'  %><strong>Rahul Yadav</strong> On October 03, 2017</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="card theme-card blog-card">
                              <a href="single.html"><%= image_tag 'stories/3.png', class: "card-img-top", alt:'Card image cap'%></a>
                              <div class="card-body">
                                 <span class="badge badge-danger">Marketing</span>
                                 <h6><a class="text-gray underlining-none" href="single.html">Operating System Updates</a></h6>
                                 <p>The purpose of analysis is to distill complexity into actionable insights only "insights" too often take the form of graphs</p>
                                 <div class="blog-author">
                                    <p><%= image_tag 'user/3.jpg', class: 'rounded-circle', alt: 'Card image cap'  %><strong>Rahul Yadav</strong> On October 03, 2017</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="card theme-card blog-card">
                              <a href="single.html"><%= image_tag 'stories/4.png', class: "card-img-top", alt:'Card image cap'%></a>
                              <div class="card-body">
                                 <span class="badge badge-success">DESIGN</span>
                                 <h6><a class="text-gray underlining-none" href="single.html">System Security Testing</a></h6>
                                 <p>The purpose of analysis is to distill complexity into actionable insights only "insights" too often take the form of graphs</p>
                                 <div class="blog-author">
                                    <p><%= image_tag 'user/4.jpg',class: "rounded-circle", alt: "Card image cap" %> <strong>Rahul Yadav</strong> On October 03, 2017</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-5">
                     <div class="col-md-12 text-center">
                        <a class="btn btn btn-danger" href="#">MORE POST</a>
                     </div>
                  </div>
               </div>
            </section>
            <section class="download-app-block bg-danger" id="about us">
               <div class="container">
                  <div class="section-title text-center">
                     <h2 class="text-white">About us</h2>
                     <span class="section-title-line section-title-line line-white"></span>
                  </div>
                  <div class="row">
                     <div class="col-md-8 mx-auto text-center">
                        <p class="lead mb-5 text-white">Established in the year 2018, Next Brand Indore is a highly reputed and leading market Research  agency in india.We help brands to grow their reach and boostup their potential to give a unbeatable competetion in their respective domains around the market globe.
                           Our company specializes in Digital Marketing, Search Engine Optimization (SEO), Web Development, Garaphics Designing, Content Writing.
                        We are known for customer's priority and expertise. We would like to transform your brand with you.</p> 
                        <p><button type="button" class="btn btn-light btn-lg"> <a href="#trial">KNOW MORE</a></button></p>
                     </div>
                  </div>
               </div>
            </section>
            <section class="trial-block" id="trial">
             <div class="container">
              <div class="section-title text-center">
               <h2>GET REGISTER</h2>
               <span class="section-title-line section-title-line"></span>
            </div>
            <%= form_for :user, url: :create_contact, method: :post, html: { class: "col-md-8 mx-auto" } do |f| %>
            <% if flash[:notice] %>
            <div class="alert alert-success">
             <strong>Success!</strong> Indicates a successful or positive action.
          </div>
          <% end %>
          <div class="form-group">
            <%= f.text_field :full_name, class: "form-control p-4", placeholder: "Enter Full name" %>
         </div>
         <div class="row">
            <div class="col-md-6">
               <%= f.text_field :contact_no, class: "form-control p-4", placeholder: "Contact no" %>
            </div>
            <div class="col-md-6">
               <%= f.email_field :email, class: "form-control p-4", placeholder: "Email" %>
            </div>
         </div>
         <div class="form-group mt-3">
            <%= f.text_area :message, class: "form-control p-4", placeholder: "Message" %>
         </div>
      </div>
      <div class="text-center">
         <%= f.submit "REGISTER", class: "btn btn btn-danger btn-lg" %>
      </div>
      <% end %>
   </div>
</section>    